{
	"SECRET_KEY": "07hkbkb*dlw-%=%ivclp^h)scx9_b$f6rty4611iqk2=b=r*an",
    "DATABASE_URL": "postgres://patchman2_portal:cheyu3rawr5rE35CraTU@localhost/sharding",
    "DATABASE_URL2": "postgres://patchman2_portal:cheyu3rawr5rE35CraTU@localhost/sharding2"
}
