{
	"SECRET_KEY": "07hkbkb*dlw-%=%ivclp^h)scx9_b$f6rty4611iqk2=b=r*an",
    "DATABASE_URL": "postgres://postgres:postgres@localhost:5433/sharding1",
    "DATABASE_URL2": "postgres://postgres:postgres@localhost:5434/sharding2"
}
